// Variables
$color_1 : rgb(0, 204, 255);
$color_2 : #666;
$color_3 : rgb(70, 43, 114);

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Estilos Generales
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
// Header

.header{
    box-sizing: border-box;
    background-image: url('../img/taza-cafe-escritorio-oficina-ordenador-portatil-computadora-mesa-madera-cerca_150455-666.jpg');
    background-size: cover;
    background-position: 0px;
    background-attachment: fixed;
    height: 380px;
    display: grid;
    grid-template-rows: 80px 300px;
    box-shadow: 0px 0px 10px #333;
    // Menu
    .header__menu{
        width: 100%;
        position: fixed;
        display: flex;justify-content: space-between;
        height: 80px;
        background-color: $color_1;
        box-shadow: 0px 0px 10px #333;
        z-index: 100000;
        .header__menu-header{
            display: flex;
            align-items: center;
            padding-left: 20px;
            .header__menu-logo{
                width: 3.5vw;
                height: 3.5vw;
                background-image: url('../img/logo.png');
                background-size: cover;
                border-radius: 99px;
                margin-right: 10px;
            }
            .header__menu-name{
                color: #555;
                font-family: 'Open Sans';
                font-weight: 300;
                font-size: 2.3vw;
            }
        }
        .header__list{
            width: 35%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .header__item{
                list-style: none;
                height: 80px;
                line-height: 80px;
                padding: 0px 20px;
                transition: all 300ms;
                .header__link{
                    color: #555;
                    font-family: 'Open Sans';
                    text-decoration: none;
                    font-size: 1.2vw;
                    transition: all 300ms;
                }
            }

            .header__item:hover{
                transform: scale(1.15,1.15);
                .header__link{
                    color: #444;
                }
            }
        }
    }

    // Container

    .header__container{
        background-color: rgba($color: #555, $alpha: 0.6);
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-row: 2/3;
        .header__center{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .header__center-icon{
                background-image: url('../img/logo.png');
                background-size: cover;
                width: 7.5vw;
                height: 7.5vw;
                border-radius: 999px;
            }

            .header__title{
                width: 100%;
                text-align: center;
                font-size: 2vw;
                font-family: 'Open Sans';
                font-weight: 300;
                border-bottom: 1px solid black;
                padding-bottom: 10px;
            }

            .header__subtitle{
                display: block;
                font-family: 'Open Sans';
                font-size: 1.5vw;
                font-weight: 300;
                margin-top: 0px;
                margin-bottom: 50px;
            }
        }

        .header__icon{
            width: 3vw;
            height: 3vw;
            background-size: cover;
            opacity: 0.0;
        }

        .header__left{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #js{
                background-image: url('../img/js.png');
                width: 3.2vw;
                height: 3.2vw;
                margin-top: 300px;
            }
            #html{
                background-image: url('../img/html.png');
                margin-bottom: 300px;
            }
            #css{
                background-image: url('../img/css.webp');
                margin-top: 300px;
            }
        }

        .header__right{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            #php{
                background-image: url('../img/php.png');
                margin-top: 300px;
            }
            #node{
                background-image: url('../img/nodejs.png');
                border-radius: 999px;
                margin-bottom: 300px;
            }
            #py{
                background-image: url('../img/python.png');
                margin-top: 300px;
            }
        }
    }
}

// About Me

.about{
    display: flex;
    flex-direction: column;
    padding: 30px;
    .about__title{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 2vw;
        margin-bottom: 20px;
    }
    .about__about-me{
        width: 90%;
        font-family: 'Open Sans';
        font-size: 1.3vw;
        font-weight: 400;
        text-align: justify;
    }
}

// Conocimientos
.tecnos{
    padding: 0px 30px;
    .tecnos__title{
        font-size: 2vw;
        font-family: 'Open Sans';
        font-weight: 400;
    }

    .tecnos__subtitle{
        font-size: 1.5vw;
        font-family: 'Open Sans';
        font-weight: 400;
        text-align: center;
    }

    .tecnos__front,
    .tecnos__back,
    .tecnos__others{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        .tecnos__tecno{
            display: flex;
            flex-direction: column;
            align-items: center;
            .tecnos__tecno-name{
                font-size: 1.3vw;
                font-family: 'Open Sans';
                font-weight: 400;
            }

            .tecnos__image{
                background-size: cover;
                width: 10vw;
                height: 10vw;
            }
        }

        #t-js{
            .tecnos__image{
                background-image: url('../img//js-2.png');
            }
        }
        #t-html{
            .tecnos__image{
                background-image: url('../img/html-2.svg');
            }
        }
        #t-css{
            .tecnos__image{
                background-image: url('../img/css2.png');
            }
        }
        #t-angular{
            .tecnos__image{
                background-image: url('../img/Angular.png');
            }
        }
        #t-jquery{
            .tecnos__image{
                background-image: url('../img/jq.png');
            }
        }
        #t-gsap{
            .tecnos__image{
                background-image: url('../img/gsap.png');
            }
        }
        #t-php{
            .tecnos__image{
                background-image: url('../img/php.png');
            }
        }
        #t-laravel{
            .tecnos__image{
                background-image: url('../img/laravel.png');
            }
        }
        #t-symfoni{
            .tecnos__image{
                background-image: url('../img/symfoni.png');
            }
        }
        #t-node{
            .tecnos__image{
                background-image: url('../img/node.jpg');
            }
        }
        #t-mongodb{
            .tecnos__image{
                background-image: url('../img/mongodb.png');
            }
        }
        #t-mysql{
            .tecnos__image{
                background-image: url('../img/mysql.png');
            }
        }
        #t-py{
            .tecnos__image{
                background-image: url('../img/python2.png');
            }
        }
        #t-git{
            .tecnos__image{
                background-image: url('../img/git.png');
            }
        }
        #t-figma{
            .tecnos__image{
                background-image: url('../img/figma.png');
            }
        }
    }
}

// Projects

.projects{
    display: flex;
    flex-direction: column;
    padding: 30px;

    .projects__title{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 2vw;
        margin-bottom: 20px;
    }

    .projects__table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
        font-family: 'Open Sans';
        margin-bottom: 30px;
        th{
            padding: 20px;
            font-size: 1.5vw;
            font-weight: 400;
            background-color: #dcdcdc;
        }
        td{
            text-align: center;
            padding: 20px;
            font-size: 1vw;
            a{
                color: black;
                text-decoration: none;
                font-size: 1.3vw;
            }
        }
    }

    .projects__description{
        font-family: 'Open Sans';
        font-size: 1.1vw;
    }
}

// Footer

.footer{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #dcdcdc;
    background-color: rgb(238, 238, 238);

    .footer__social{
        display: flex;
        text-decoration: none;
        padding-top: 10px;
        align-items: center;
    }
    
    .footer__logo{
        width: 3vw;
        height: 3vw;
        border-radius: 999px;
        background-size: cover;
    }

    .footer__title{
        font-family: 'Open Sans';
        text-align: center;
        font-weight: 400;
        color: black;
        margin-left: 10px;
        font-size: 1vw;
    }
    
    #github{
        background-image: url('../img/github.png');
    }

    #linkedin{
        background-image: url('../img/linkedin-logo.png');
        width: 3.8vw;
        height: 3.8vw;
    }

    #discord{
        background-image: url('../img/discord.png');
    }
}


@media screen and (max-width: 992px) { 
    @import './includes/large-devices';
}

@media screen and (max-width: 768px) {
    @import './includes/medium-devices';
}

@media screen and (max-width: 576px) {
    @import './includes/small-devices';
}

